<header class="layout">
  <article>
    <h1>
      <a href="/">
        <img src="/assets/images/Design-in-Quotes-HEX.png" alt="">
        <!-- Design in Quotes -->
      </a>
    </h1>
  </article>
</header>

<style lang="scss">
header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 5rem;
}
article {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-subitem {
  display: flex;
  flex-grow: 0;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
  color: var(--theme-text-lighter);
  font-size: initial;
  padding: 0.5rem;
}
.header-subitem:hover {
  color: var(--theme-accent);
}
.header-subitem svg {
  width: 1.5rem;
  height: 1.5rem;
}

@media (max-width: 32em) {
  .header-subitem {
    display: none;
  }
}

h1 {
  margin: 0;
  font-size: 1.2rem;
  max-width: 100%;
  font-weight: normal;
  font-style: italic;
  display: flex;
  flex-grow: 1;
  text-align: center;

  a {
    color: inherit;
    text-decoration: underline !important;
    text-decoration-color: var(--color-gray-200);
  }
}

.logo {
  transform: translateY(0.25rem);
}

svg {
  width: 2.5rem;
  height: 2.5rem;
}

h1 a {
  text-decoration: none;
  display: block;
  text-align: center;
  width: 100%;
}
</style>
