---
export interface Props {
  title: string;
  date: string;
  alt: string;
  categories: string|array;
  number: number;
}

const { title, date, alt, categories, number } = Astro.props;
---

<div class="layout">
  <article class="content">
  <div>
    <header>
      <h1 class="title">
        <small>{number}. </small>
        {title}
      </h1>
      <p class="publish-date">{date}</p>
    </header>
    <main>
      <slot />

      <hr>

      <nav id="post-nav">
        { number > 1
          ? <a href={`/posts/${number - 1}`}>&lsaquo; Previous post</a>
          : <span />
        }

        <a id="back-btn" href="/">
          Back to post list
        </a>

        { (number !== 52)
          ? <a href={`/posts/${number + 1}`}>Next post &rsaquo;</a>
          : <span />
        }
      </nav>

    </main>
  </article>
</div>

<style>
.hero-image {
  width: 100vw;
  object-fit: cover;
  object-position: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
  max-width: 1280px;
}

@media (max-width: 50em) {
  .hero-image {
    height: 260px;
    margin-top: 0;
    margin-bottom: 2rem;
  }
}

main hr {
  margin: 2rem 0 2rem;
  border: 0;
  border-bottom: 2px solid var(--color-gray-300);
}

.content {
  margin-bottom: 8rem;
}

.content :global(main > * + *) {
  margin-top: 1rem;
}

.content :global(h2) {
  margin-top: 4rem;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 4px solid var(--theme-divider);
}

#post-nav {
  display: flex;
  justify-content: space-between;
}

.title,
.author,
.publish-date {
  margin: .25rem 0 0;
}

.publish-date,
.author {
  color: var(--theme-text-lighter);
  font-style: italic;
}

.title {
  font-size: 2.25rem;
}

.title small {
  font-size: .6em;
}
</style>
