---
// let allPosts = Astro.fetchContent('../pages/posts/*.md').filter(post => post.url === 'sldkfsdlkfj');
// allPosts = allPosts.sort((a, b) => new Date(a.date) - new Date(b.date));
---

<aside>
 lskdfj sldkfjsldfjsdlkfj sdlk j
  <nav>
    <ul>
        sldkfjdslkfj
      <!-- {posts.map((post, i) => <li>Thing</li>)} -->
    </ul>
  </nav>
</aside>
